In [6]:
import pickle

import python.display as dp
import python.data as data
import python.voxels as voxel

project_folder = "veleval"

In [2]:
data.add_time_elapsed("files/"+project_folder+"_wtime/data_processed/observations.df")

In [3]:
data.simplify_gps("files/"+project_folder+"_wtime/data_processed/observations.df", 
                  "files/"+project_folder+"_wtime/data_processed/observations_simplified.df", dim=3)

3606 3606

In [4]:
data.add_speed("files/"+project_folder+"_wtime/data_processed/observations_simplified.df")

In [7]:
with open("files/"+project_folder+"_wtime/data_processed/observations_simplified.df",'rb') as infile:
    df_simplified = pickle.load(infile)
tab_routes_voxels_simplified, tab_routes_voxels_simplified_global, dict_voxels_simplified = voxel.generate_voxels(
    df_simplified, df_simplified.iloc[0]["route_num"], df_simplified.iloc[-1]["route_num"])

In [8]:
df_simplified

          lat       lon     speed time route_num  time_elapsed
0   45.762533  4.890900  0.000000  NaN         0         0.000
1   45.762032  4.890524  3.255511  NaN         0        19.339
2   45.762137  4.890598  0.609342  NaN         0        21.339
3   45.762144  4.890523  0.225357  NaN         0        26.339
4   45.762215  4.889786  1.221979  NaN         0        47.340
..        ...       ...       ...  ...       ...           ...
74  45.761014  4.857700  0.004254  NaN      3605      1332.000
75  45.760991  4.857942  0.014199  NaN      3605      1337.000
76  45.760995  4.858098  0.009031  NaN      3605      1347.000
77  45.762488  4.857807  0.121536  NaN      3605      1378.000
78  45.762639  4.857801  0.012006  NaN      3605      1399.000

[214576 rows x 6 columns]